body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    color: black;
}

.sectionstyle {
    float: left;
    margin-left: 10px;
    width: 48%;
}

.imgcar {
    width: 80%;
    height: auto;
}